[submodule "app/mintz/hs-ext-servant"]
	path = app/mintz/hs-ext-servant
	url = https://github.com/sozu/hs-ext-servant.git
[submodule "app/mintz/hs-orm"]
	path = app/mintz/hs-orm
	url = https://github.com/sozu/hs-orm.git
[submodule "app/mintz/hs-config"]
	path = app/mintz/hs-config
	url = https://github.com/sozu/hs-config.git
