{-# extends ../common/layout.html #-}

{-@ title -}Person Create{-$-}

{-@ content -}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Name (English)</th>
                <td></td>
            </tr>
            <tr>
                <th>Name (English)</th>
                <td></td>
            </tr>
            <tr>
                <th>Name (Japanese)</th>
                <td></td>
            </tr>
            <tr>
                <th>Description (English)</th>
                <td></td>
            </tr>
            <tr>
                <th>Description (Japanese)</th>
                <td></td>
            </tr>
            <tr>
                <th>TypeTalk Name</th>
                <td></td>
            </tr>
            <tr>
                <th>Companies</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{-$-}